{% extends 'base.html.twig' %}
{% form_theme zoneForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Add zone :</h1>
    <div class="row">
        <div class="col-8 offset-2">
            {{ form_start(zoneForm) }}
            {{ form_row(zoneForm.name) }}
            {{ form_row(zoneForm.size) }}
            {{ form_row(zoneForm.temperature) }}
            {{ form_end(zoneForm) }}
        </div>
    </div>
{% endblock %}