{% extends 'base.html.twig' %}
{% form_theme zoneForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Ajout de la zone {{ zone.name }} :</h1>
    <div class="row">
        <div class="col-8 offset-2">
            {{ form_start(zoneForm) }}
            {{ form_row(zoneForm.name) }}
            {{ form_row(zoneForm.surface) }}
            {{ form_row(zoneForm.temperature) }}
           <button type="submit">Ajouter une zone</button>
        </div>
    </div>
{% endblock %}